body{
  background-color: lightgrey;
}

h1[id="welcome"]{
  color:brown;
  background-color: darkgrey;
  text-align: center;
}

@media (min-width: 500px) {
  h1[id="welcome"]::after {
    content: "Welcome to my webpage, thank you for visiting!";
    }
}
@media (max-width: 499px) {
  h1[id="welcome"]::after {
    content: "Welcome to my webpage!";
    color:black;
    }
}
