{% extends "orders/base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}

<h1>Your Orders</h1>

{% if orders %}
<h4 id="orders" name="orders">Your Orders</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Orders</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td scope="row">
          {{order.counter_id}} - {{ order.item }}
        </td>
        <td scope="row">
          {{ order.status }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>You don't have any orders yet. Please navigate to menu and choose your first pizza!</p>
{% endif %}
{% endblock %}
