{% extends "orders/base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Registration</h1>
{% if message %}
<div>
  {{message}}
</div>
{% endif %}

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="username">Username: </label><input type="text" name="username">
  </div>
  <div>
    <label for="first_name">First name: </label><input type="text" name="first_name">
  </div>
  <div>
    <label for="last_name">Last name: </label><input type="text" name="last_name">
  </div>
  <div>
    <label for="email">Email: </label><input type="email" name="email">
  </div>
  <div>
    <label for="password">Password: </label><input type="password" name="password">
  </div>
  <div>
    <label for="password_conf">Password confirmation: </label><input type="password" name="password_conf">
  </div>
  <input type="submit" value="Register">




</form>

{% endblock %}
