{% extends "orders/base.html" %}

{% block title %}Manage Orders{% endblock %}

{% block content %}

<h1>See All Orders</h1>

{% if orders %}
<h4 id="orders" name="orders">Your Orders</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Orders</th>
      <th scope="col">Status</th>
      <th scope="col">Set to Served (if order paid)</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td scope="row">
          {{order.user}}
        </td>
        <td scope="row">
          {{ order.item }}
        </td>
        <td scope="row">
          {{ order.status }}
        </td>
        <td scope="row">
          {% if order.status == "payment done" %}
            <form action="{% url 'set_to_done' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="order_id" value="{{order.id}}">
              <input type="submit" name="Done" value="Set to done">
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No orders yet.</p>
{% endif %}
{% endblock %}
