{% extends "orders/base.html" %}

{% block title %}Toppings{% endblock %}

{% block content %}

<h1>Choose from these toppings</h1>

{% if toppings %}
<h4 id="toppings" name="toppings">Toppings</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Toppings</th>
    </tr>
  </thead>
  <tbody>
    {% for topping in toppings %}
      <tr>
        <td scope="row">
          {{ topping.name }}
        </td>
        <td>
          <form action="add_topping" method="POST">
            {% csrf_token %}
            <input type="hidden" name="topping" value="{{topping.name}}">
            <input type="hidden" name="number_left" value="{{topping_allowed}}">

            <input type="submit" name="submit" value="+">
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
