{% extends "layout.html" %}

{% block head %}
<script src="../static/channel.js"></script>
{% endblock %}

{% block title %}
{{ session.channel_entered}}
{% endblock %}

{% block main %}

<h1>Channel: <span>{{ session.channel_entered }}</span></h1>

<div>
  <textarea id="chat_area" name="chat" rows="15" cols="20" style="width:600px;" readonly>{% for message in messages %}{{ message }}{% endfor %}
  </textarea>
</div>
<div class="form-group">
  <input id="new_message"size="140" autocomplete="off" autofocus type="text" class="form-group" style="width:600px">
</div>
<div style="width:600px">
  <button id="send_button" class="btn btn-dark" type="reset">Send</button>
  <button id="leave_channel" class="btn btn-dark" style="margin-left: 400px;">Leave channel</button>
</div>






{% endblock %}
