{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <h1 class="login_h1">Contact</h1>
    <p style="margin-left: 15%">If you have any comments, suggestions or questions regarding to the website,<br>you can contact the operator of the site at the following email address or through mailto link.</p>
    <li style="margin-left: 15%">info@yourrandomtrip.com</li>
    <li style="margin-left: 15%"><a href="mailto:info@yourrandomtrip.com">Send email</a></li>
{% endblock %}