<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href= "http://30f8868c-172e-4e2e-89c3-f7d5d6f15a22-ide.cs50.xyz/static/styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Your random Trip</title>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Random Trip</a>
            {% if session.user_id %}
                <a href="/upload">Upload</a>
                <a href="/get_random">Get Random</a>
                <a href="/maintenance">Manage your trips</a>
                <a href="contact">Contact</a>

                <div class="topnav-right">
                    <a href="/logout">Log Out</a>
                </div>
        </div>
        </div>
            {% else %}
        <div class="topnav-right">
                <a href="/register">Register</a>
                <a href="/login">Log In</a>
        </div>
            {% endif %}
        </div>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            <br>
            <br>
            <br>
        </footer>

    </body>



</html>