{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block main %}
  <div class="container mx-auto">
    <div class="row">
        <div class="col mx-5 px-5">
          <div class="mb-4">
            <h1>Login or <a href="/register">register</a> to use</h1>
          </div>
          <form action="/login" method="post">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text span-width-150" id="basic-addon1">username</span>
                <input class="form-control" type="text" name="username" placeholder="username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text span-width-150" id="basic-addon2">password</span>
                <input class="form-control" type="password" name="password" placeholder="password" aria-label="Password" aria-describedby="basic-addon2">
              </div>
            </div>
            <div class="input-group mb-2">
              <button class="btn btn-dark">Log in</button>
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
