{% extends "layout.html" %}

{% block title %}
  Flack
{% endblock %}

{% block main %}

  <h2>Choose a username to continue!</h2>
  <form action="/login" method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="username" name="username" autofocus aria-describedby="userHelp">
      <small id="userHelp" class="form-text text-muted">This username will identify you during chatting.</small>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>

{% endblock%}
