{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 class="login_h1">Registration</h1>
    <img style="margin-left: 25%;" src="https://www.rei.com/dam/content_052216_0007_main_lg.jpg" width="50%" border="2px">
    <form action="/register" method="post">
        <div>
            <input style="margin-left: 40%;" class="login_input" style="margin-left:" autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input style="margin-left: 40%;" class="login_input" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input style="margin-left: 40%;" class="login_input" name="confirmation" placeholder="Password confirmatin" type="password">
        </div>
        <button style="margin-left: 40%;" class="mybutton" type="submit">Register</button>
    </form>
{% endblock %}