{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <div >
        <h1 class="login_h1">Upload your next trip</h1>

        {% if message %}
            <p style="font-size:100%; margin-left:40%; margin-top:20px;" > {{ message }} </p>
        {% endif %}

        <form action="/upload" method="post">
            <br><br>
            <div style="margin-left: 15%;">
                <p>Trip Name:</p><input style=" border-color: #cc6600;" autocomplete="off" autofocus name="trip_name" placeholder="Trip Name" type="text" size="50">
            </div>
            <br>
            <div style="margin-left: 15%;">
                <p>Trip Length:</p><input style=" border-color: #cc6600;" autocomplete="off" name="trip_length" placeholder="Trip Length" type="number" min="1" size="50">
            </div>
            <br>
            <div style="margin-left: 15%;">
                <p>Trip Description:</p><textarea style=" border-color: #cc6600;" cols="50" name="trip_description" rows="10" placeholder="Trip Description or Itinerary"></textarea>
            </div>
            <button style="margin-left: 15%;" class="mybutton" type="submit">Upload</button>
        </form>
    </div>
{% endblock %}