{% extends 'nutrition/base.html' %}

{% block title %}Search meal{% endblock %}

{% block content %}
<h1>Search meal</h1>
{% if message %}
<div>
{{message}}
</div>
{% endif %}

{% load static %}
<script src="{% static "nutrition/search_meal.js" %}" type="text/javascript"></script>

<form action="{% url 'search_meal' %}" method="post">
{% csrf_token %}
<label for="">Meal size:</label>
<select id="meal_size" name="meal_size">
  {% for size in sizes %}
  <option value="{{size}}">{{size}}</option>
  {% endfor %}
</select>
<br>
<label for="">Meal type: </label>
<select id="meal_type">

</select>
<br>
<label for="">Meal name: </label>
<input type="text" name="name">
<br>

<input type="text" name="ingredient">
<input type="submit" value="Submit">
</form>

{% endblock %}
